{% extends "base.html" %}

{% block content %}
<div class="card" style="width: 18rem;">
    {% if product.photo %}
    <img src="{{ jobs.photo.url }}" class="card-img-top" alt="...">
    {% else %} 
    <img src="/static/null_image2.png" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">name: {{jobs.name}}</h5>
        <p class="card-text">price: {{jobs.price}}</p> 
        <a href="/jobs/{{jobs.id}}/" class="btn btn-primary">Добавить</a>
    </div>
</div>
{% endblock content %}
