{% extends "base.html" %}

{% block content %}
<div class="card" style="width: 18rem;">
    {% if jobs.photo %}
    <img src="{{jobs.photo.url}}" class="card-img-top" alt="...">
    {% else %}
    <img src="/static/null_image2.png" class="card-img-top" alt="...">
    {% endif %}
    <div class="card-body">
        <h5 class="card-title">name: {{jobs.name}}</h5>
        <h6 class="card-title">description: {{jobs.description}}</h6>
        <p class="card-text">price: {{jobs.price}}</p>
        <p>views: {{jobs.views}}</p>
        <p>average: {{average}}</p>
        {% if request.user == jobs.user %}
        <a href="/jobs/{{jobs.id}}/update/" class="btn btn-primary">Изменить</a>
        {% else %}
        <a href="/jobs/{{jobs.id}}/" class="btn btn-primary">Купить</a>
        {% endif %}
        <form method="POST" action="" enctype="multipart/form-data">
            {% csrf_token %}

            <button type="submit">Удалить</button>
        </form>

    </div>
</div>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Оставить комментарий</button>
</form>

{% for comment in comments %}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <p class="card-text">text: {{comment.text}}</p>
        <p>author: {{comment.author.username}}</p>
        <p>rate: {{comment.rate}}</p>
    </div>
</div>
{% endfor %}
{% endblock content %}